// Custom styles.
// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}
// 主页文章添加阴影效果
 .post {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }
  
//
.content-wrap{
	padding:0 40px 40px 40px;
}

.post-button{
	margin-top:20px;
	margin-bottom:10px;
}

.post .post-eof.post-eof.post-eof{
	display:none;
}

// 文章内链接文本样式
.post-body p a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

.post-body li a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}
//标签位置
.posts-expand .post-tags{
	margin-top:10px;
}

//
.container .main-inner{
width:1060px;
}
.content-wrap{
	width:800px;
}
.header{
	width:1060px;
	margin:10px auto;
}